---
layout: default
---

{% include site-nav.html %}

<article class="page" lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title baseline-fix" itemprop="name headline">{{ site.title | escape | replace: "​", "<wbr>" }}</h1>
        <em>{{ page.tagline | escape | replace: "​", "<wbr>" }}</em>
      </header>
      
      {% if page.cover_url %}
      <div class="post-cover" aria-label="Cover">
        <div class="post-cover-wrapper">
          <img src="{{ page.cover_url }}" alt="" />
        </div>
        <div class="cover-meta">{{ page.cover_meta | markdownify }}</div>
      </div>
      {% endif %}
  {{ content }}
</article>